body {
  background-position: center;
  background-size: cover;
}
.uk-search-large {
  width: 50%;
}

#background-info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 1rem;
}

.uk-link,
a {
  font-size: 20px;
}

.uk-card {
  backdrop-filter: blur(5px);

  border-radius: 6px;
}

.uk-card-primary {
  background-color: #1e87f050;
}
.uk-card-secondary {
  background-color: #22222250;
}
.uk-card-default {
  background-color: #ffffff50;
}
.uk-card-default a {
  color: black;
}
